.stackHandle {
  position: absolute;
  left: 50%;
  width: calc(var(--BinderSize) * 5);
  height: calc(var(--BinderSize) * 1.4);
}

.stackContainer {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
}

.loadingListText {
  justify-content: center;
  font-size: 2rem;
}

.stackSlider {
  height: calc(var(--BinderSize) * 1.6);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
